name: Python Application

on:
  schedule:
    - cron: '0 */6 * * *'  # हर 7 घंटे में चलाने के लिए

  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Python का वर्ज़न यहां सेट करें

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests  # यदि आपके पास dependencies हैं

    - name: Run Python script
      run: python prem.py  # अपने स्क्रिप्ट का नाम यहां डालें
